fastapi
uvicorn
websockets
python-multipart
numpy
faster-whisper
llama-cpp-python
scipy
torch --index-url https://download.pytorch.org/whl/cpu
torchaudio --index-url https://download.pytorch.org/whl/cpu